body {
    background: #0e0e0e;
    color: #f5f5f5;
    text-align: center;
    font-family: Arial, sans-serif;
}

video {
    width: 80%;
    border-radius: 12px;
    margin: 10px auto;
    display: block;
}
button {
    background-color: #28a745;
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px;
}
button:hover {
    background-color: #0078d7;
}
#imagesContainer img {
    width: 150px;
    margin: 10px;
    border-radius: 8px;
    border: 2px solid #444;
}